[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
requests = "*"
psycopg2-binary = "*"
django = "*"
django-filter = "*"
django-cors-headers = "*"
drf-spectacular = "*"
djangorestframework-gis = "*"
geopy = "*"
django-address = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
