container_commands:
   01_makemigrations:
      command: "source $PYTHONPATH/activate && python manage.py makemigrations"
   02_migrate:
      command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"
      leader_only: true
   03_collectstatic: 
      command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
   04_createsu:
      command: "source $PYTHONPATH/activate && python manage.py createsu"
      leader_only: true
   05_socketserve:
      command: "source $PYTHONPATH/activate && python /var/app/current/buoy/socket_server.py"
   
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfile

